[Unit]
Description=Per App Remapping Daemon
After=graphical.target

[Service]
ExecStart=%h/.local/bin/remap-per-app-daemon
Restart=always

[Install]
WantedBy=default.target

