[Unit]
Description=Per App Remapping Daemon
After=graphical.target

[Service]
ExecStart={{out}}/bin/remap-per-app-daemon
Restart=always

[Install]
WantedBy=default.target

